.topbar {
    border:solid 2px rebeccapurple;
    padding:1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    margin: 1%;
}

input {
    border: solid 1px gray;
    background-color: rgb(118, 209, 118);
    padding: 1%;
    margin: 5px;
}

.about {
    text-align: right;
}

img {
    border: solid 1px silver;
    border-radius: 50%;
}