body {
    background-color: aliceblue;
    margin: 0;
}

.topbar {
    background-color: aquamarine;
    padding:1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    width:100;
    
}

input {
    border: solid 1px gray;
    background-color: rgb(118, 209, 118);
    padding: 1%;
    margin: 5px;
}

.about {
    text-align: right;
}

#headerimg {
    width: 100%;
}
