body {
    background-color: aliceblue;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
}

.topbar {
    background-color: rgb(255, 255, 255);
    padding:1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    width:100;
    a:hover {
        background-color: rgb(105, 57, 57);
    }
}

input {
    border: solid 1px gray;
    background-color: rgb(118, 209, 118);
    padding: 1%;
    margin: 5px;
}

.about {
    text-align: right;
}

#headerimg {
    width: 100%;
}

footer {
    background-color: brown;
    padding: 10px 50px 50px 10px;
}
